@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
  background-image: url("https://cdn.wallpapersafari.com/1/80/8DYndB.png");
  font-family: "Roboto", sans-serif;
  position: relative,
}

header {
  height: px;
  margin: 50px 20px 10px;
  text-align: center;
}

label {
  display: flex;
  justify-content: center;
  align-content: center;
}

input {
  width: 80%;
  height: 30px;
  border-radius: 5px;
  border: none;
  color: rgb(197, 197, 197)
}

button {
  height: 30px;
  border-radius: 5px;
  background-color: rgb(0, 177, 0);
  color: rgb(255, 255, 255);
  border: none;
  margin-left: 10px;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #daf7c1;
  width: 320px;
  margin: 8px;
  padding: 8px 18px;
  border-radius: 15px;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
}

div:hover {
  box-shadow: 4px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

img {
  width: 40px;
  height: 40px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80px;
  width: 100%;
  justify-content: center;
  position: absolute;
  bottom: 0;
}

footer p {
  color: gray;
}